
$font_family_main: 'Lato', sans-serif;
$font_family_second: 'Red Hat Display', sans-serif;
$font_size_main: 19px;
$font_color_main: #565656;
$font_line_height: 32px;

// font-family: 'Lato', sans-serif;
// font-family: 'Red Hat Display', sans-serif;